@import '_variables.styl';
@import '_colors.styl';
@import '~vuetify/src/stylus/theme.styl'
$material-light.background = $background
$material-light.cards = $background-variant

@import '~vuetify/src/stylus/main.styl'
@import '_helpers.styl'